.player {
    &__controls {
        display: flex;
        flex-direction: row;
        padding: 0 27px 0 31px;
    }

    &__btn-prev,
    &__btn-play,
    &__btn-next,
    &__btn-repeat,
    &__btn-shuffle {
        padding: 5px;
        display: flex;
        align-items: center;
    }

    &__btn-prev {
        margin-right: 23px;
    }

    &__btn-play {
        margin-right: 23px;
    }

    &__btn-next {
        margin-right: 28px;
        fill: #a53939;
    }

    &__btn-repeat {
        margin-right: 24px;
    }

    &__btn-shuffle {
        display: flex;
        align-items: center;
    }
}
